<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Shining</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/shi.css' %}">
</head>
<body>
<h1>Shining</h1>
<div id="general"><h2><a href='..'>Home</a></h2><h2><a href='/movies/movie/'>Sinister</a></h2><h2><a href='/movies/movie3/'>TheSilenceOfTheLambs</a></h2></div>
<div class="myframe"><iframe width="560" height="315" src="https://www.youtube.com/embed/NMSUEhDWXH0?si=K1YzV-9U0oWfVJ_c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
<div class="tex"><p>«Сияние» (англ. The Shining) — фильм ужасов режиссёра, сценариста и продюсера Стэнли Кубрика, снятый в 1980 году по мотивам одноимённого романа Стивена Кинга. Главные роли исполнили Джек Николсон, Шелли Дюваль и Дэнни Ллойд.</p></div>
<div id="info">
{{info}}
</div>

</body>
</html>