<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>TheSilenceOfTheLambs</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lamb.css' %}">
</head>
<body>
<h1>TheSilenceOfTheLambs</h1>
<div id="general"><h2><a href='..'>Home</a></h2><h2><a href='/movies/movie/'>Sinister</a></h2><h2><a href='/movies/movie2/'> Shining</a></h2></div>
<div class="myframe"><iframe width="560" height="315" src="https://www.youtube.com/embed/m8Da_mQKd_8?si=yJCdfNV9OoOSleLr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
<div class="tex"><p>«Молчание ягнят» (англ. The Silence of the Lambs) — американский психологический фильм ужасов 1991 года режиссёра Джонатана Демми, снятый по мотивам одноимённого романа Томаса Харриса о серийном убийце Ганнибале Лектере.</p></div>
<div id="info">
{{info}}
</div>

</body>
</html>