<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sin.css'%}">
</head>
<body>
<h1>Sinister</h1>

<div id="general"><h2><a href='..'>Home</a></h2> <h2><a href='/movies/movie2/'>Shining</a></h2> <h2><a href='/movies/movie3/'>TheSilenceOfTheLambs</a></h2></div>
<div class="myframe"><iframe width="560" height="315" src="https://www.youtube.com/embed/BNZtNkwLmCQ?si=_q1h0NNG_KKW902K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
<div class="tex"><p>«Синистер» (англ. Sinister — зловещий, кошмарный) — фильм режиссёра Скотта Дерриксона, в главных ролях Итан Хоук и Джеймс Рэнсон. Мировая премьера состоялась на кинофестивале «South by Southwest» 11 марта 2012 года. В России фильм вышел в широкий прокат 11 октября 2012 года</p></div>
<div id="info">
{{info}}
</div>
</body>
</html>